{
        "comment": "Don't forget to chmod 600 this file!",
        "IRC_SERVER" : "irc.freenode.net",
        "IRC_NICK" : "wikibugs",
        "IRC_PASSWORD": "...",

        "PHAB_HOST" : "https://phabricator.wikimedia.org",
        "PHAB_HOST_comment": "(or https://phab-01.wmflabs.org)",
        "PHAB_USER" : "pywikibugs",
        "PHAB_CERT" : "...",

        "REDIS_HOST": "tools-redis",
        "REDIS_QUEUE_NAME": "wikibugs2",

        "IRCNOTIFIER_KEY": "(ask Yuvipanda)",

        "MEDIAWIKI_USER": "pywikibugs",
        "MEDIAWIKI_PASS": "..."
}
